/* Barra de Navegacion */
.navbar {
    background-color: #353a40;
}
/* Color de Letra "comprar ticket" */
.text-p {
    color:#29a744 !important;
}
/* Color de Boton */
.btn-p {
    background: #29a744 !important; 
}
/* Carousel tamaño de imagen */
.c-item {
    height: 850px;
}
/* Carousel Imagen filtro*/
.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(55%)
}
/* Carousel letras y botones*/
.carousel-caption { 
    padding-bottom: 0;
    margin-left: 27%; 
}

/* Cards grupo de 2 imagenes */

.card-body-gruop {
        
    background-color: #353a40;
    color: white;
    height: 100%

}
/* Boton de Enviar */
.boton {
    border: 0;
    background-color: #29a744;
    color: white;
    border-radius: 5px;
    padding: 10px;
    
}
/* Pie de pagina */
.footer {
    background-color: #1e4f6d;
    padding: 0 10%; 
}

/* media querry para el Carousel responsive*/

@media only screen and (max-width:1199px){
    .carousel-caption {
        font-size: 85%;
    }
}

@media only screen and (max-width:991px){
    .carousel-caption {
        font-size: 67%;
    }
}

@media only screen and (max-width:767px){
    .carousel-caption {
        font-size: 57%;
    }
}

@media only screen and (max-width:575px){
    .carousel-caption {
        display: none;
    }
}
