<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Vital- Oswaldo Romero</title>
    <link rel="stylesheet" href="../css/cv.css">
</head>
<body>
        <header>
            <img src="./Imgs/FOTO OSWAL CV.jpg" alt="mi foto">
            <div>
            <h1> Oswaldo Romero</h1>
            <h2> Estudiante HTML y CSS</h2>
            <p>Twitter: <a href="https://www.twitter.com"> @oart44</a></p>
            </div>
        </header>
        <main>
                <section>
                        <article>
                            <h2>Información Profesional</h2>
                            <ul>
                                <li>1975-1985: <strong> Super fuerza, velocidad, Visión de rayos X y Reportero</strong></li>
                                <li>1965-1975: <strong>Cazavillanos y Heroe</strong></li>
                                <li>1962-1965: <strong>Aprendiz de superhéroe </strong></li>
                                <li>1961-1962: <strong>Granjero</strong></li>   
                            </ul>
                                <hr>
                        </article>
                        <aside>
                            <h2>Información Académica</h2>
                            <ul>
                                <li>1956-1961: <strong>Universidad "La Liga de Justicia"</strong></li>
                                <li>1952-1956: <strong>Instituto Kansa City</strong></li>
                                <li>1944-1952:  <strong>Escuela Primaria Kansa City</strong></li>
                                </ul>
                                <hr>
                            <h2> Conocimientos</h2>
                            <p> SQL</p>
                            <progress value="55" max="100"> </progress>         
                        </aside>
                </section>
        </main>
        <footer></footer>

</body>
</html>